[Unit]
Description=Incubator Controller Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/incubator
ExecStart=/usr/bin/env python3 /home/brennan/incubator/main.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=incubator

[Install]
WantedBy=multi-user.target
